backend/target/
target/
.idea/
*.iml
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.DS_Store
.nrepl-port
scrap.clj
scrap.cljs
odin*.*

/out

# Avoid checking in node modules
reactgui/node_modules/*
!reactgui/node_modules/app
!reactgui/node_modules/lib
