body {
    font: 16px Helvetica, arial, freesans, clean, sans-serif;
    color: #c0c0c0;
    background-color: #1a1a1a;
}

#main {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.item {
    align-self: auto;
}

/* Navigation bar */
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 0;
    align-items: stretch;
    height: 3em;
}

.navbar .title {
    flex-basis: auto;
    font-size: 2em;
    background-color: #ff7472;
    align-content: center;
    line-height: 2em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    color: black;
}

.navbar a {
    text-decoration: none;
    padding: 1em;
    line-height: 2em;
    color: #c0c0c0;
    align-content: center;
}

.navbar li {
    display: flex;
    list-style-type: none;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-item {
    align-self: center;
    background-color: #2a2a2a;
    transition: background-color 0.5s ease;
}

.nav-item:hover {
    background-color: #747474;
}

.bg-box {
    background-color: #2a2a2a;
    margin-top: 10px;
    width: 100%;
}

.container-box {
    display: flex;
    padding-top: 20px;
}

.tag {
    border-radius: 4px;
    background-color: #ff7472;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    overflow: hidden;
    line-height: 10px;
    padding: 6px 10px 8px 10px;
    position: relative;
    vertical-align: middle;
    transition: 0.25s linear;
}

.category-missing {
    background-color: #5d5d5d;
}

.category-candidate {
    background-color: darkorange;
}

table, th {
    text-align: left;
}

.padded {
    padding: 10px;
}

button.delete {
    border: 0;
    background-color: #888888;
    box-shadow: inset 0 -3px #999999;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button.delete:hover {
    background-color: #ff7472;
    box-shadow: inset 0 -2px #a75750;
}

/* Button */
.flat-button {
    border: 0;
    background-color: #888888;
    padding: 0.5em;
    font-size: 1em;
    box-shadow: inset 0 -4px #999999;
    cursor: pointer;
    transition: all 0.5s ease;
}

.flat-button:hover, .flat-button:active, .flat-button.selected  {
    background-color: #87ba82;
    box-shadow: inset 0 -4px #496245;
}

.form-control.placeholder {
    color: #b2bcc5;
}
.form-control {
    border: 2px solid #bdc3c7;
    color: #34495e;
    line-height: 1.467;
    padding: 8px 12px;
    height: 1em;
    font-size: 1em;
    border-radius: 6px;
    box-shadow: none;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.error {
    color: #ff7472;
}

.rightalign {
    text-align: right;
}