<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cashflow</title>
  <link href="/css/cashflow.css" type="text/css" rel="stylesheet"/>
  <script src="/public/js/cashflow-highcharts-theme.js" type="text/javascript"></script>
</head>
<body>
<div id="main">

    <ul class="navbar">
      <li><div class="title">Cashflow</div></li>
      <li><a class="nav-item" href="/tags">Tags</a></li>
      <li><a class="nav-item" href="/transactions">Transactions</a></li>
      <li><a class="nav-item" href="/graphs">Graphs</a></li>
    </ul>


  {% block content %}{% endblock }
</div>
</body>
</html>

