{% extends "public/templates/base.html" %}

{% block content %}

<script type="text/javascript">

  var deleteTag = function (tagName) {

    var client = new XMLHttpRequest();

    client.open("DELETE", "/tags/" + tagName, false);
    client.send();

    if (client.status == 200)
      location.reload();
    else
      alert("The request did not succeed!\n\nThe response status was: " + client.status + " " + client.statusText + ".");
  }
</script>

<div class="container-box bg-box">
  <form action="/tags" method="POST">
    <label>Tag name: </label>
    <input name="name" type="text"/>
    <label>Regexes: </label>
    <input name="regexes" type="text"/>
    <button type="submit">Add tag</button>
  </form>
</div>

<table class="bg-box">
  <thead>
  <tr>
    <th></th>
    <th>Tag</th>
    <th>Regexes</th>
  </tr>
  </thead>
  {% for tag in tags %}
  <tbody>
  <tr>
    <td>
      <button class="delete" onclick="deleteTag('{{tag.name}}')">&#10006;</button>
    </td>
    <td>
      <div class="tag">{{tag.name}}</div>
    </td>
    <td style="display: flex;">{% for regex in tag.regexes %}
      <div style="">{{regex}} &nbsp;</div>
      {% endfor %}</td>
  </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock }