
<script type="text/javascript">
  var filterByMonth = function (yearIndex, monthIndex) {
    window.location.href = '{{route}}' + yearIndex + "/" + monthIndex;
  };

  var filterByYear = function (yearIndex) {
    window.location.href = '{{route}}' + yearIndex;
  }
</script>

<div id="time_filter" class="bg-box padded">

  <div id="years" class="container">
    {% for year in years %}
    <div class="item"><button class="flat-button {% ifequal current-year year %} selected {% endifequal %}" onclick="filterByYear({{year}})">{{year}}</button></div>
    {% endfor %}
  </div>
  <div id="months" class="container">
    <div class="item"><button class="flat-button {% if current-month = 1 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 1)">Jan</button></div>
    <div class="item"><button class="flat-button {% if current-month = 2 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 2)">Feb</button></div>
    <div class="item"><button class="flat-button {% if current-month = 3 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 3)">Mar</button></div>
    <div class="item"><button class="flat-button {% if current-month = 4 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 4)">Apr</button></div>
    <div class="item"><button class="flat-button {% if current-month = 5 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 5)">May</button></div>
    <div class="item"><button class="flat-button {% if current-month = 6 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 6)">Jun</button></div>
    <div class="item"><button class="flat-button {% if current-month = 7 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 7)">Jul</button></div>
    <div class="item"><button class="flat-button {% if current-month = 8 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 8)">Aug</button></div>
    <div class="item"><button class="flat-button {% if current-month = 9 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 9)">Sep</button></div>
    <div class="item"><button class="flat-button {% if current-month = 10 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 10)">Oct</button></div>
    <div class="item"><button class="flat-button {% if current-month = 11 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 11)">Nov</button></div>
    <div class="item"><button class="flat-button {% if current-month = 12 %} selected {% endif %}" onclick="filterByMonth({{current-year}} , 12)">Dec</button></div>
  </div>
</div>