
<script type="text/javascript">
  var filterByMonth = function (yearIndex, monthIndex) {
    window.location.href = '{{route}}' + yearIndex + "/" + monthIndex;
  }
</script>

<div id="time_filter" class="bg-box padded">
  <div id="year" class="padded">
    2009
  </div>
  <div id="months" class="container">
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 1)">Jan</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 2)">Feb</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 3)">Mar</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 4)">Apr</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 5)">May</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 6)">Jun</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 7)">Jul</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 8)">Aug</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 9)">Sep</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 10)">Oct</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 11)">Nov</button></div>
    <div class="item"><button class="flat-button" onclick="filterByMonth(2009, 12)">Dec</button></div>
  </div>
</div>