{% extends "public/templates/base.html" %}

{% block content %}

{% include "public/templates/time_filter.html" with route="/transactions/" %}

<div>
  <table>
    <thead>
    <tr>
      <th>Tag</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for tagsum in sum-by-tag %}
    <tr>
      <td>{{tagsum.tagname}}</td>
      <td>{{tagsum.sum}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Code</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Tags</th>
  </tr>
  </thead>
  {% for trans in transactions %}
  <tbody>
  <tr>
    <td>{{trans.date}}</td>
    <td>{{trans.code}}</td>
    <td>{{trans.amount}}</td>
    <td>{{trans.description}}</td>
    <td>{{trans.tags}}</td>
  </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock }