{% extends "public/templates/base.html" %}

{% block content %}
<script type="text/javascript">
  var filterByMonth = function (yearIndex, monthIndex) {
    window.location.href = '/transactions/' + yearIndex + "/" + monthIndex;
  }
</script>

<div id="filter">
  <div id="year">
    2009
  </div>
  <div id="months">
    <div><button onclick="filterByMonth(2009, 1)">January</button></div>
    <div><button onclick="filterByMonth(2009, 2)">February</button></div>
    <div><button onclick="filterByMonth(2009, 3)">March</button></div>
    <div><button onclick="filterByMonth(2009, 4)">April</button></div>
    <div><button onclick="filterByMonth(2009, 5)">May</button></div>
    <div><button onclick="filterByMonth(2009, 6)">June</button></div>
    <div><button onclick="filterByMonth(2009, 7)">July</button></div>
    <div><button onclick="filterByMonth(2009, 8)">August</button></div>
    <div><button onclick="filterByMonth(2009, 9)">September</button></div>
    <div><button onclick="filterByMonth(2009, 10)">October</button></div>
    <div><button onclick="filterByMonth(2009, 11)">November</button></div>
    <div><button onclick="filterByMonth(2009, 12)">December</button></div>
  </div>
</div>


<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Code</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Tags</th>
  </tr>
  </thead>
  {% for trans in transactions %}
  <tbody>
  <tr>
    <td>{{trans.date}}</td>
    <td>{{trans.code}}</td>
    <td>{{trans.amount}}</td>
    <td>{{trans.description}}</td>
    <td>{{trans.tags}}</td>
  </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock }