[
 ;; Categories
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "The name of the category"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/regexes
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/many
  :db/doc                "The category rule as regexes as string"
  :db.install/_attribute :db.part/db}

 ;; Transactions
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :transaction/id
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "The transaction public id"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :transaction/date
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "The transaction date"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :transaction/code
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "The transaction's code"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :transaction/description
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Description for the transaction"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :transaction/amount
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "The amount of money for the transaction"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :transaction/category
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Category of the transaction"
  :db.install/_attribute :db.part/db}
 ]